@model IEnumerable<_1._3.Models.Ogrenci>
     
@{  
        ViewData["Title"] = "Öğrenci Listesi";  
    }  
<h2>Index</h2>  
<p>  
    <a asp-action="Create">Create New</a>  
</p>  
<table class="table">  
    <thead>  
        <tr>  
            <th>  
                @Html.DisplayNameFor(model => model.ogrenci_no)  
            </th> 
            <th>  
                @Html.DisplayNameFor(model => model.ogrenci_ad)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.ogrenci_soyad)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.ogrenci_email)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.ogrenci_sifre)  
            </th>  
            <th></th>  
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var item in Model)  
{  
            <tr>
                <td>  
                    @Html.DisplayFor(modelItem => item.ogrenci_no)  
                </td>    
                <td>  
                    @Html.DisplayFor(modelItem => item.ogrenci_ad)  
                </td>  
                <td>  
                    @Html.DisplayFor(modelItem => item.ogrenci_soyad)  
                </td>  
                <td>  
                    @Html.DisplayFor(modelItem => item.ogrenci_email)  
                </td>  
                <td>  
                    @Html.DisplayFor(modelItem => item.ogrenci_sifre)  
                </td>

                <td>  
                    <a asp-action="Edit" asp-route-id="@item.ogrenci_no">Edit</a> |  
                    <a asp-action="Details" asp-route-id="@item.ogrenci_no">Details</a> |  
                    <a asp-action="Delete" asp-route-id="@item.ogrenci_no">Delete</a>  
                </td>  
            </tr>  
        }  
    </tbody>  
</table>  